@import "tailwindcss";

@font-face {
  font-family: "PPPangaia Medium";
  src: url("/public/font/PPPangaia-Medium-BF654c530cc86d5.otf") format("opentype");
}

@font-face {
  font-family: "PPPangaia Ultralight";
  src: url("/public/font/PPPangaia-Ultralight-BF654c530cd00f1.otf") format("opentype");
}

:root {
  --primary: #29422C;
  --secondary: #DFB65C;
  --tertiary: #F2F2F2;
  --background-1:#FCFCF9;
  --background-2:#F7F5EE;
  --light:#797979;
  --font-primary-medium: "PPPangaia Medium";
  --font-primary-ultralight: "PPPangaia Ultralight";
}

@theme inline {
  --color-primary: #29422C;
  --color-secondary: #DFB65C;
  --color-tertiary: #F2F2F2;
  --color-background-1:#FCFCF9;
  --color-background-2:#F7F5EE;
  --color-light:#797979;
}


body {
  font-family: var(--font-neutra-text);
}

.font-primary {
  font-family: var(--font-pppangaia);
  letter-spacing: 3%;
}

.font-primary-medium {
  font-family: var(--font-primary-medium);
  letter-spacing: 3%;
}

.font-primary-ultralight {
  font-family: var(--font-primary-ultralight);
  letter-spacing: 3%;
}

.font-secondary {
  font-family: var(--font-inter);
}